@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@300&display=swap");

.forgot-password-page-container {
  height: 100vh;
}
.forgot-password-banner {
  width: 70%;
}
.hr-services-logo-png {
  width: 240px;
}
.forgot-password-form {
  width: 60%;
  min-width: 200px;
}
.forgot-password-email-input {
  background-color: var(--lightGray2);
  min-height: 50px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
}
.forgot-password-email-input input[type="text"] {
  background-color: transparent;
  outline: none;
}
.forgot-password-next-button {
  background-color: #0051b7;
  color: white;
  border-radius: 35px;
  width: 100px;
}
.forgot-password-next-button:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 575px) {
  .forgot-password-right-container > h1 {
    font-size: 25px;
    text-align: center;
  }
  .forgot-password-right-container > h5 {
    font-size: 15px;
    text-align: center;
  }
  .forgot-password-form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
