.forgot-password-email-sent-banner {
  width: 250px;
  height: auto;
}
.forgot-password-email-sent-text-password-reset {
  font-weight: 800;
  font-size: 45px;
}
.forgot-password-email-sent-text-password-message {
  font-weight: 500;
  font-size: 35;
}