a {
  text-decoration: none;
}
.reset-password-container {
  height: 100vh;
}
.hr-services-logo-png {
  width: 240px;
}
.reset-password-banner-png {
  width: 200px;
}
.reset-password-input-password {
  min-width: 250px;
  width: 350px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.reset-password-input-password > input {
  background-color: transparent;
  border: none;
  outline: none;
}
.reset-password-form button {
  border-radius: 60px;
  background-color: #0051b7;
  color: white;
}
.reset-password-form button:hover {
  background-color: black;
}
.reset-password-content-container > h1 {
  color: #0051b7;
}
